.AddSong{
    position:fixed;
    bottom:1em;
    left:1em;
}
.SongList{
	flex-grow: 1;
	overflow: hidden;
	padding: 0 3rem;
	padding-top: 1rem;
	margin-bottom: 4rem;
	.paper{

		max-width: 100%;
		@media screen and (min-width:700px) {
			width: 90%;
			max-width: 90%;
		}
		@media screen and (min-width:900px) {
			max-width: 600px;
		}
		margin: 1rem auto;
		padding: 2rem;
		cursor: pointer;
		&:hover {
			background-color: rgba(255,255,255,0.25),
		}
		.wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-top: 0;
			.title{
				flex-grow: 1;
				margin: 0;
				color: #607D8B;
				font-weight: bold;
				.alignLeft{
					color: #E64A19;
					padding: 0.2rem;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #FFCCBC;
					border-radius: 50%;
				}
			}
		}
	}
}