@use '../assets/styles/style_resources.scss' as *;

*, body, html {
	font-family: $mono-family;
}

.loading {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	h1{
		color:$primary-light
	}
}

.pointer{
    cursor: pointer;
}

.MuiPopover-root{
    z-index: 35003!important;
}

body, html {font-size:14px;}

.flex{
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}


.accent{
	color: $accent;
	font-weight: 600;
}

.dialog-list-item{
	cursor: pointer;
	border-radius: 0.3rem;
	background-color: $primary-dark;
	color:#fff;
	padding:1rem;
	&:hover{
		background-color: $primary;
	}
}